* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
svg {
  fill: #ffffff;
  width: 10px;
  height: 10px;
  margin-left: 5px;
}
button {
  background-color: #1992d4;
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-size: 8px;
  width: 50px;
  font-weight: bold;
}
.navigation svg {
  margin-left: 0;
  width: 20px;
  height: 20px;
}
li {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 6px;
}
.container {
  display: grid;
  height: 100vh;
  grid: 1fr 5fr/ 1fr 4fr;
}
.sidebar {
  background-color: #1992d4;
  grid-row: 1/3;
  color: white;
  display: grid;
  grid-template-rows: 1fr 8fr;
  padding: 10px;
}
.navigation {
  /* border: solid 2px white; */
  display: flex;
  gap: 5px;
}

.branding {
  /* border: solid 2px white; */
  display: grid;
  grid-template-rows: 2fr 3fr;
  font-size: 10px;
}

.header {
  background-color: #ffffff;
}
.top-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px 20px 10px 20px;
  align-items: center;
}
.top-header > div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.top-header > div:last-child {
  justify-self: end;
  font-size: 10px;
}
.top-header svg {
  fill: black;
}
.search-bar {
  padding: 5px;
  height: 18px;
  border: none;
  border-radius: 10px;
  width: 300px;
  background-color: #e2e8f0;
}
.sub-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0px 20px 10px 20px;
  align-items: center;
  gap: 160px;
  font-size: 12px;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}
.main-content {
  background-color: #e2e8f0;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 10px;
}
.grid-main-wrapper {
  grid-row: 1/3;
  display: grid;
  padding: 10px;
  grid-template-rows: 1fr 20fr;
}
.grid-main-wrapper h2 {
  font-size: 8px;
}
.grid-wrapper {
  display: grid;
  grid-template-rows: 1fr 10fr;
  row-gap: 5px;
}
.grid-wrapper h2 {
  font-size: 8px;
}
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
}
.card {
  border-left: #f0b429 solid 3px;
  border-radius: 5px;
  background-color: white;
  box-shadow: black;
  padding: 15px;
  display: grid;
}
.card p {
  font-size: 8px;
  color: gray;
  font-weight: 100;
}
.side-content {
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding: 10px;
  grid-row: 1/3;
  row-gap: 20px;
}
.announcements {
  background-color: white;
  border-radius: 5px;
  display: grid;
  padding: 10px;
}
.announcement-card {
  border-bottom: rgb(197, 195, 195) 0.5px solid;
  margin-bottom: 5px;
}
.announcement-card p {
  font-size: 6px;
  color: gray;
  font-weight: 100;
}
.announcement-card h6 {
  font-size: 6px;
}
.announcement-card:last-child {
  border: none;
  margin-bottom: 0;
}
.trending {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  display: grid;
}
.trending-item h6,
.trending-item p {
  font-size: 6px;
  font-weight: 100;
}
.trending-item p {
  color: gray;
}
